{% extends 'base.html' %}
{% block title %}
About me
{% endblock title %}
{% block content %}
    <div class="bg-dark text-light p-1">
        <h1>About me</h1>
        <h6> My name is Mohamed Helmy, I am a 19 year-old student from Egypt</h6> 
        <h6> I am very skilled in programming ^D^</h6> 
        <h6> My favorite programming language is Python</h6> 
        <h6> My favorite web framework is Flask</h6> 
        <h6> I am currently learning Python and web development</h6> 
    </div>
{% endblock content %}