{% extends "base.html" %}
{% block title %}
contact me 
{% endblock title %}
{% block content %}
    <h1>contact me</h1>
    <p>please choose one of the following to proceed</p>
    <button class="btn btn-primary text-light m-1" onclick="window.open('https://www.facebook.com/profile.php?id=100033019621060');">Facebook</button>
    <button class="btn btn-primary text-light m-1" onclick="window.open('https://wa.me/+201098052690');">Whatsapp</button>
    <button class="btn btn-primary text-light m-1" onclick="window.open('mailto:mohamedlegendary2005@gmail.com');">Gmail</button>
{% endblock content %}